
<ul id="gridLayout">
{{#data.courses}}
<li class="grid-block grid-course-{{info.id}}" data-title="{{info.fullname}}" data-toggle="tooltip"
    data-courseid="{{info.id}}" data-grid="1" data-prevcourse="{{prevnavcourse}}" data-nextcourse="{{nextnavcourse}}">
    <div class="grid-item {{completionstatus}}">
        <a class="grid-link" href="#">
        <img src="{{img}}" alt=""/>
        </a>
    </div>
</li>
{{/data.courses}}
</ul>
