{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template dashaddon_myprofile/widget_myprofile

    This template for text track tab

    Variables optional for this template:

    Example context (json):
    {
    }

}}
{{#data.noresult}}
{{#noresult}}{{{noresult}}}{{/noresult}}
{{/data.noresult}}

{{^data.noresult}}
<div class="learner-dashboard-block">
    <div class="learner-profile-block">
        {{#data.userinfostatus}}
            <div class="dashboard-profile">
                {{#preferences.profileimage}}
                <div class="img">
                    {{#data.userinfo.gameavatar}}
                    <img class="img-responsive" src="{{{data.userinfo.gameavatar}}}" role="presentation" alt="{{{data.userinfo.u_fullname}}} user game avatar">
                    {{/data.userinfo.gameavatar}}

                    {{^data.userinfo.gameavatar}}
                        {{{data.userinfo.u_picture}}}
                    {{/data.userinfo.gameavatar}}
                </div>
                {{/preferences.profileimage}}

                <div class="profile-info">

                    {{#preferences.fullname}}
                        <h3>{{{data.userinfo.u_fullname}}}</h3>
                    {{/preferences.fullname}}

                    <p>{{{data.userinfo.userinfo1}}}</p>
                    <p>{{{data.userinfo.userinfo2}}}</p>
                    <p>{{{data.userinfo.userinfo3}}}</p>

                </div>
            </div>
        {{/data.userinfostatus}}

        {{#data.kpistatus}}
            <div class="dashboard-stats-block">
                {{#data.kpi}}
                    <div class="dash-myprofile-status dashboard-{{name}}-stats {{customclass}}">
                        <p><b>{{{value}}}</b>  {{#label}} <span> {{{label}}} </span> {{/label}}  </p>
                    </div>
                {{/data.kpi}}
            </div>
        {{/data.kpistatus}}
    </div>
</div>
{{/data.noresult}}
