{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template dashaddon_developer/field_edits

    This template for text track tab

    Variables optional for this template:

    Example context (json):
    {
    }

}}
<p>
    <select id="add-new-field-definition" class="form-control">
        <option>{{#str}}addnewfield, block_dash{{/str}}...</option>
        {{#all_field_definitions}}
            <option value="{{name}}">{{title}}</option>
        {{/all_field_definitions}}
    </select>
</p>

<table id="field_edits" class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th>{{#str}}fieldname, block_dash{{/str}}</th>
            <th>{{#str}}fieldselect, block_dash{{/str}}</th>
        </tr>
    </thead>
    <tbody>
        {{#field_definitions}}
            {{>dashaddon_developer/field_edit_row}}
        {{/field_definitions}}
    </tbody>
</table>

<hr>
