{{!

    Root data collection (PHP objects):
    {
        "rows": [ // Child data collections
            {
                "data": [ // fields that belong to this data collection. Example data:
                    {
                        "get_name": "c_id",
                        "get_value": 9123,
                        "get_label": "Course ID"
                    },
                    {
                        "get_name": "c_fullname",
                        "get_value": "Test course",
                        "get_label": "Course fullname"
                    }
                ],
            }
            ...
        ]
        "has_child_collections": true,
        "first_child": { ... }, // First child data collection. In this case the first "row".
    }

}}
{{< block_dash/layout }}
    {{$body}}
        <h1>This is an example layout.</h1>
        <p>This example uses the Mustache syntax. Read more on it <a href="https://docs.moodle.org/dev/Templates">here</a></p>

        {{! This example loops through all rows (child data collections) and displays their fields. }}
        {{! 1. Check if any rows exist }}
        {{^data.rows}}
            <p class="text-muted">{{#str}}noresults{{/str}}</p>
        {{/data.rows}}
        <div class="table-responsive">
            <table class="table dash-table">
                <thead>
                <tr>
                    {{! 2. Display field headings by looping through first child data collection's fields }}
                    {{#data.first_child.data}}
                        <th class="dash-sort" data-sort="{{get_name}}">{{get_label}}</th>
                    {{/data.first_child.data}}
                </tr>
                </thead>
                <tbody>
                {{! 3. Loop through all rows (child data collections) }}
                {{#data.rows}}
                    <tr>
                        {{! 4. Loop through all fields in data collection }}
                        {{#data}}
                            <td>{{get_value}}</td>
                        {{/data}}
                    </tr>
                {{/data.rows}}
                </tbody>
            </table>
        </div>

        {{! Here's another example: Access of specific data/fields. }}
        <p>Here's a course: {{data.first_child.data.c_fullname.get_value}}</p>
    {{/body}}

{{/ block_dash/layout }}
