{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

{{!
    @template dashaddon_developer/field_edits

    This template for text track tab

    Variables optional for this template:

    Example context (json):
    {
        "data": {
            "rows": [
                {
                    "data": [
                        {
                            "get_name": "c_id",
                            "get_value": 9123,
                            "get_label": "Course ID"
                        },
                        {
                            "get_name": "c_fullname",
                            "get_value": "Test course",
                            "get_label": "Course fullname"
                        }
                    ]
                }
            ],
            "has_child_collections": true,
            "first_child": {
                "data": [
                    {
                        "get_name": "c_id",
                        "get_value": 9123,
                        "get_label": "Course ID"
                    },
                    {
                        "get_name": "c_fullname",
                        "get_value": "Test course",
                        "get_label": "Course fullname"
                    }
                ]
            }
        }
    }

}}
{{< block_dash/layout }}
    {{$body}}
        <h1>This is an example layout.</h1>
        <p>This example uses the Mustache syntax. Read more on it <a href="https://docs.moodle.org/dev/Templates">here</a></p>

        {{! This example loops through all rows (child data collections) and displays their fields. }}
        {{! 1. Check if any rows exist }}
        {{^data.rows}}
            <p class="text-muted">{{#str}}noresults{{/str}}</p>
        {{/data.rows}}
        <div class="table-responsive">
            <table class="table dash-table">
                <thead>
                    <tr>
                        {{! 2. Display field headings by looping through first child data collection's fields }}
                        {{#data.first_child.data}}
                            <th class="dash-sort" data-sort="{{get_name}}">{{get_label}}</th>
                        {{/data.first_child.data}}
                        {{^data.first_child.data}}
                            <th> </th>
                        {{/data.first_child.data}}
                    </tr>
                </thead>
                <tbody>
                {{! 3. Loop through all rows (child data collections) }}
                {{#data.rows}}
                    <tr>
                        {{! 4. Loop through all fields in data collection }}
                        {{#data}}
                            <td>{{get_value}}</td>
                        {{/data}}
                    </tr>
                {{/data.rows}}
                </tbody>
            </table>
        </div>

        {{! Here's another example: Access of specific data/fields. }}
        <p>Here's a course: {{data.first_child.c_fullname}}</p>
    {{/body}}

{{/ block_dash/layout }}
