body.path-dashaddon-dashboard div[role=main],
body.path-dashaddon-dashboard div[role=main] .block-region {
    width: 100%;
}
body.path-dashaddon-dashboard div[role=main] .block-region {
    display: flex;
    flex-wrap: wrap;
}
body.path-dashaddon-dashboard:not(.editing) #region-main {
    padding: 0;
    border: none;
    background: transparent;
    margin: 0 -0.5rem;
}
body.path-dashaddon-dashboard:not(.editing) .block.block-dash {
    margin-bottom: 0;
}

/** Block widths **/
body.path-dashaddon-dashboard:not(.editing) .dash-block-width-100,
body.path-dashaddon-dashboard:not(.editing) .dash-block-width-50,
body.path-dashaddon-dashboard:not(.editing) .dash-block-width-33,
body.path-dashaddon-dashboard:not(.editing) .dash-block-width-66,
body.path-dashaddon-dashboard:not(.editing) .dash-block-width-25,
body.path-dashaddon-dashboard:not(.editing) .dash-block-width-20,
body.path-dashaddon-dashboard:not(.editing) .dash-block-width-16 {
    margin: 0.5rem;
}

.path-dashaddon-dashboard .header-maxwidth,
.path-dashaddon-dashboard .secondary-navigation {
    max-width: none;
}

.path-dashaddon-dashboard .drawer-toggles .drawer-left-toggle {
    display: none;
}

table.dashaddon-dashboardlist .img-responsive {
    max-width: 220px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

body.path-dashaddon-dashboard div#page {
    min-height: 90%;
}

body.path-dashaddon-dashboard div#page .main-inner {
    min-height: 90%;
}
